@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: lightblue; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    font-family: 'Josefin Sans', sans-serif;
    background-color: none;
}

.container {
    position: relative;
    width: 100%;
    width: 1000px;
    height: 100%;
    border: 1px solid;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    

}

.container .foto-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}


.container__info {
    color: #fff;
}

.left__side {
    position: relative;
    padding: 40px;
}

.right__side {
    position: relative;
    padding: 40px;
}

.img__me{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.profile__text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.cnt__img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.name {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3em;
    margin-top: 20px;
}

.name span {
    font-size: .8em;
    font-weight: 300;

}

.title {
    color: #fff;
    margin: 20px 0 26px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.container__info li{
    list-style: none;
    line-height: 1.5;
}

.info span:nth-child(2) {
    padding-left: 10px;
    cursor: pointer;
    color: #fff;
}

.icon {
    display: inline-block;
    font-size: 18px;
    width: 30px;
    color: #03a9f4;
}

.level__languages {
    width: 250px;
    height: 10px;
    background-color: #03a9f4;
    border: 1px solid initial;
    border-radius: 3px;
    margin: 10px 0;
    
}

.education .info h5{
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 1px solid #03a9f4;
}

.education .info h4 {
    color:#03a9f4;
    font-size: 15px;
    /* text-shadow: 5px 9px 3px navy; */
    letter-spacing: 1.5px;
}

.fa-ship, .fa-coffee, .fa-html5, .fa-css3 {
    float: right;
}

.fa-coffee {
    color: rgb(170, 26, 26);
}

.fa-html5 {
    color: orangered;
}

.fa-css3{
    color: rgb(62, 62, 249);
}

.fa-ship {
    color: blue;
}


.ita__level--size {
    box-shadow: 20px 0px 3px #000;
}

.spa__level--size {
    width: 230px;
    box-shadow: 40px 0px 3px #000;
}

.eng__level--size {
    width: 150px;
    box-shadow: 120px 0px 3px #000;
}

.profile-title, .skills__title, .exp-title, .interest__title{
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-left: 20px;
}


.profile__paragraph {
    color: #fff;
    line-height: 1.5;
}

.data__experience {
    width: 200px;
    height: 100px;
    background-color: red;
    list-style: none;
    float: left;
}

.content__exp {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    color: #fff;
}

.data__exp h5 {
    width: 170px;
}


.skills__title{
    margin-bottom: 36px;
}
.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 170px 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;    

}

.skills .box h4 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.skills .box .percent .lvl__percent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(1,69,104,1) 50%, rgba(0,16,70,1) 59%);;   

}

.html--lvl {
    width: 80%;
}

.css--lvl {
    width: 70%;
}

.js--lvl {
    width: 20%;
}

.illustrator--lvl {
    width: 0;
}

.phshop--lvl {
    width: 50%;
}

.adobe--lvl {
    width: 30%;
}

.interest {
    margin-top: 50px;
}

.interest__icons {
    display: flex;
    font-size: 20px;
    color: #03a9f4;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}