@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white : #fff;
}
html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;

}
body {
    display: grid;
    /* place-content: center; */
    /* height: 100vh; */
    font-size: 1.6rem; 
}

.container {
    position: relative;
    width: 100%;
    max-width: 1500px;
    border: 1px solid;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

.container .backgro {
    background-image: url("./img/nerotop.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}


.container__info {
    color: rgb(30, 5, 5);
}

.left__side, .right__side {
    position: relative;
    padding: 30px 50px;
}

.img__me{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.profile__text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.container__img {
    position: relative;
    width: 200px;
    height: 200px;
    border: 6px inset #f1e4ad;
    border-radius: 50%;
    overflow: hidden;
}

.name {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.8rem;
    margin-top: 20px;
}

.name span {
    font-size: 1.8rem;
    font-weight: 300;
    color: rgb(236, 224, 158);
}

.left__side .title {
    color: #f0e2bb;
    letter-spacing: 2px;
}

.container__info li{
    list-style: none;
    line-height: 2.6rem;
}

.container__info-education .education .info {
    margin-bottom: 30px;
}

.info span:nth-child(2) {
    padding-left: 10px;
    cursor: pointer;
    color: #fff;
}

.icon {
    display: inline-block;
    font-size: 1.8rem;
    width: 30px;
    color: rgb(236, 224, 158);
}

.education .info {
    display: flex;
    flex-direction: column;
}

.education .info p:nth-child(1){
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.education .info p {
    color: var(--white);
    font-size: 1.5rem;
}

.info p {
    color: var(--white);
}


.level__languages {
    width: 250px;
    height: 10px;
    background-color: #fdf4be;
    border: 1px solid;
    border-radius: 2px;
    margin: 15px 0;
}

.fa-coffee {
    color: rgb(170, 26, 26);
}

.fa-html5 {
    color: orangered;
}

.fa-css3{
    color: rgb(62, 62, 249);
}

.fa-ship {
    color: blue;
}

.ita__level--size {
    box-shadow: 20px 0px 3px #000;
}

.spa__level--size {
    width: 230px;
    box-shadow: 40px 0px 3px #000;
}

.eng__level--size {
    width: 150px;
    box-shadow: 120px 0px 3px #000;
}

.left__side .title {
    margin: 26px 0 20px;
}

.container__info-languages p {
    color: white;
}


.right__side .title{
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 20px;
    margin: 50px 0 30px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 0px 1px #0a0909, 0px 1px 1px #EEEEEE, 2px 1px 1px #EEEEEE, 1px 2px 1px #EEEEEE;
    letter-spacing: .2rem;
}


.profile__paragraph {
    color: #fff;
    line-height: 1.5;
    font-size: 1.8rem;
}

.content__exp {
    display: flex;
    color: #fff;
    margin: 20px 0;
    line-height: 1.8rem;
}

.data__exp h5:nth-child(2) {
    text-align: center;
}

.data__exp h5 {
    width: 170px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 130px 1fr;
    margin-bottom: 19px;    
}

.skills .box h4 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
}

.skills .box .percent .lvl__percent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* background-image: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(1,69,104,1) 50%, rgba(0,16,70,1) 59%);    */
    background: rgb(85,85,78);
background: linear-gradient(90deg, rgba(85,85,78,1) 3%, rgba(196,200,131,1) 48%);
}

.skills div:last-child {
    margin-bottom: 0;
}

.html--lvl {
    width: 80%;
}

.css--lvl {
    width: 70%;
}

.js--lvl {
    width: 20%;
}

.react--lvl {
    width: 0;
}

.github--lvl {
    width: 50%;
}

.mysql--lvl {
    width: 30%;
}

.interest__icons {
    display: flex;
    font-size: 2rem;
    color: #fdf4be;
    align-items: center;
    justify-content: space-between;
}